# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=master123
DB_DATABASE=approver
DATABASE_SYNCHRONIZE=true
DATABASE_LOGGING=true

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=24h

BCRYPT_SALT_ROUNDS=12

# Application Configuration
NODE_ENV=development
PORT=3000

# AWS Configuration

# Optional S3 Configuration
AWS_S3_ENDPOINT=https://nna-app-s3.s3.ap-southeast-3.amazonaws.com
AWS_S3_FORCE_PATH_STYLE=false
AWS_S3_MAX_RETRIES=3
AWS_S3_REQUEST_TIMEOUT=30000
AWS_S3_DEFAULT_BUCKET=wms
AWS_S3_DEFAULT_ACL=private
AWS_S3_DEFAULT_EXPIRES_IN=3600
AWS_S3_ALLOWED_FILE_TYPES=image/*,application/pdf,text/*
AWS_S3_MAX_FILE_SIZE=104857600
AWS_S3_ENABLE_LOGGING=true
AWS_S3_ENABLE_METRICS=false

# Infobip Configuration
INFOBIP_BASE_URL=https://69kjm8.api-id.infobip.com
INFOBIP_API_KEY=403929ee43c24502fd0b35ef9787ede5-98352b31-ab29-4d03-8ba5-f630227ae926
INFOBIP_USERNAME=kcsi-bagas
INFOBIP_PASSWORD=Ericsson1!
INFOBIP_WHATSAPP_SENDER=447860099299
# Email Sender Configuration (use your registered domains)
INFOBIP_EMAIL_SENDER=noreply@kcsi.id
INFOBIP_TIMEOUT=30000
INFOBIP_RETRIES=3