NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=boilerplat_nest
DATABASE_SYNCHRONIZE=true
DATABASE_LOGGING=true

JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=24h

BCRYPT_SALT_ROUNDS=12

# Infobip Configuration
INFOBIP_BASE_URL=https://69kjm8.api-id.infobip.com
INFOBIP_API_KEY=403929ee43c24502fd0b35ef9787ede5-98352b31-ab29-4d03-8ba5-f630227ae926
INFOBIP_USERNAME=kcsi-bagas
INFOBIP_PASSWORD=Ericsson1!
INFOBIP_WHATSAPP_SENDER=447860099299

# Email Sender Configuration (use your registered domains)
INFOBIP_EMAIL_SENDER=noreply@nna-id.com
INFOBIP_EMAIL_SENDER_ALT=noreply@kcsi.id

INFOBIP_TIMEOUT=30000
INFOBIP_RETRIES=3
